@import './base.css';

#app {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;

  font-family: 'Noto Serif Display', serif;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 3rem;
  height: 70%;
}

@media (hover: hover) {
  a:hover {
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
