@import './base.css';
/********************** DarkMode Design **********************/
.dark{
  color-scheme: dark;
  --color-background: #16171d; /* it's better to use a dark grey color instead of pure black */
  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-2);
}  

.dark #app{
  color: #adb5bd;
}
.dark #app h2::after{
  border-bottom: 1px solid #adb5bd;
}
.dark button{
  color: #adb5bd;
}
.dark #app .flip-card-front{
  background: linear-gradient(120deg, lightgrey 26%, rgb(202 191 188 / 47%) 88%, #dee2e6 -57%, #474135 -52%, #ffecb3d9 31%, #6c757d42 125%);
  color: white;
}
.dark #app .work .card{
  filter: brightness(0.9);
}
.dark a, .dark .navbar .nav a{
  color: #adb5bd;
  background: none;
}
.dark .nav a::before, .dark button::before{
  border-top: 2px solid #adb5bd;
  border-right: 2px solid #adb5bd; 
}
.dark .nav a:after, .dark button::after{
  border-bottom: 2px solid #adb5bd;
  border-left: 2px solid #adb5bd;
}
.dark .mess-icon img{
    background: linear-gradient(to bottom, #cfc09f -87%, #634F30 -71%, #cfc09f -3%, #ffecb3 31%, #3a2c0f 144%);
    border-radius: 50%;
    padding: 10px;
    margin: 20px;

}

/********************** Global Design **********************/
body{
  background: #00000003;
}
#app {
  height: 100vh;
  margin: 0 auto;
  font-family: 'Noto Serif Display', serif;
}
button:active{
  border: none;
}
a{
  color: #adb5bd;
}
a:hover{
  color: #adb5bd;
  transition: 0.4s;
}
/* All icons in Gold */
i{
  background: linear-gradient(#cfc09f -87%, #634F30 -71%, #cfc09f -3%, #ffecb3 31%, #3a2c0f 144%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Navbar Animations*/
.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}
.nav a, button {
  padding: .5em .8em;
  color: black;
  position: relative;
  text-decoration: none;
}
.nav a:hover{ color: black;}
.nav a::before,.nav a::after, button::before, button::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}
.nav a::before, button::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 2px solid black;
  border-right: 2px solid black;
  transform: translate(-100%, 50%);
}
.nav a:after, button::after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  transform: translate(100%, -50%)
}

.nav a:hover:before,.nav a:hover:after, button:hover::before, button:hover::after {
  transform: translate(0,0);
  opacity: 1;
}

ul{
  list-style: none;
}

.card{
  background: none;
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 3rem;
  height: 70%;
}

/* GLOBAL KEYFRAMES */
@keyframes titleSlide{
  0%{
      transform: scale(0.5);
      opacity: 0;
  }
  100%{
      transform: translate(0);
      opacity: 1;
  }
}



@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

